/* General Styles */
html, body {
    margin: 0;
    height: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
}

.password-generator {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password-generator h1 {
    margin-bottom: 50px;
}

/* Light and Dark theme adjustments */
.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: #202125;
    color: white;
}
