.password-container {
    position: relative;
    width: 90%;
    margin: 0;
    margin-right: 25px;
}

.password-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: white;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Trebuchet MS", sans-serif;
}

.password-input.error {
    font-size: 16px;
    color: #d32f2f;
    border: 2px solid #ef9a9a;
    background-color: #ffcDD2;
}

.password-input.very-weak {
    border-color: #ec0000;
}

.password-input.weak {
    border-color: #ec5300;
}

.password-input.medium {
    border-color: #e6cc00;
}

.password-input.strong {
    border-color: #5bb450;
}

.password-input.very-strong {
    border-color: #46923c;
}

.strength-meter {
    position: absolute;
    right: -10px;
    top: 41%;
    transform: translateY(-50%);
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    color: white;
}

.strength-meter.very-weak {
    background-color: #ec0000;
}

.strength-meter.weak {
    background-color: #ec5300;
}

.strength-meter.medium {
    background-color: #e6cc00;
}

.strength-meter.strong {
    background-color: #5bb450;
}

.strength-meter.very-strong {
    background-color: #46923c;
}

/* Dark theme adjustments */
.dark-theme .password-input {
    background-color: #42474d;
    color: white;
}

.dark-theme .password-input.error {
    color: #d32f2f;
    border: 2px solid #ef5350;
    background-color: #ffcDD2;
}