/* General Styles */
html, body {
    margin: 0;
    height: 100%;
	font-family: "Trebuchet MS", sans-serif;
}

.password-generator {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Theme-specific Styles */
.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: #202125;
    color: white;
}

.password-generator h1 {
    margin-bottom: 50px;
}

.password-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.password-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
	background-color: white;  
	outline: none;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-family: "Trebuchet MS", sans-serif;
}

.password-input.weak {
    border-color: #c30010;
}

.password-input.average {
    border-color: #e6cc00;
}

.password-input.strong {
    border-color: #5bb450;
}

.password-input.godlike {
    border-color: #46923c;
}

.strength-meter {
    position: absolute;
    right: -10px;
    top: 41%;
    transform: translateY(-50%);
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    color: white;
}

.strength-meter.weak {
    background-color: #c30010;
}

.strength-meter.average {
    background-color: #e6cc00;
}

.strength-meter.strong {
    background-color: #5bb450;
}

.strength-meter.godlike {
    background-color: #46923c;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
	margin-top: 20px;
    margin-bottom: 40px;
}

.button-group button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #ccc;
	font-family: "Trebuchet MS", sans-serif;
	background-color: #f8f4f4;
}

button:hover {
	background-color: #f0f3f8;
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.slider-container label {
    margin-right: 10px;
}

/* Customize slider thumb and track color */
.length-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 8px; 
    background: lightgray; 
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
}

.length-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0080ff; 
    cursor: pointer;
}

.length-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0080ff; 
    cursor: pointer;
}

.length-slider::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0080ff; 
    cursor: pointer;
}

.character-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
	margin-bottom: 100px;
}

.character-options label {
    display: flex;
    align-items: center;
}

/* Customize checkboxes color */
input[type="checkbox"] {
    accent-color: #0080ff; 
}

/* Dark theme adjustments */
.dark-theme .password-input {
    background-color: #555;
    color: white;
}

.dark-theme button {
    background-color: #333;
    color: white;
}

.dark-theme button:hover {
    background-color: #444;
}

.dark-theme button:active {
        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.75);
}

/* Theme switcher styles */
.theme-switcher {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.theme-switcher img {
    width: 30px;
    height: 30px;
}

.theme-switcher img:hover {
    width: 25px;
    height: 25px;
}
