.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.button-group button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-family: "Trebuchet MS", sans-serif;
	background-color: #f8f4f4;
    min-width: 112px;
}

button:hover {
    background-color: #f0f3f8;
}

button:disabled:hover {
    background-color: #f8f4f4;
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

input[type="checkbox"] {
    accent-color: #0080ff; 
}


/* Dark theme adjustments */
.dark-theme button {
    background-color: #12191f;
    color: white;
}

.dark-theme button:disabled {
    border: 2px solid #999;
    color: #999;
    background-color: #f8f4f4;
}

.dark-theme button:disabled:hover {
    border: 2px solid #999;
    color: #999;
    background-color: #f8f4f4;
}

.dark-theme button:hover {
    background-color: #24292f;
}

.dark-theme button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.75);
}